export(callAsirules)
export(callHierarchyComputation)
export(callSimilarityComputation)
export(data2transac)
export(hierarchyTree)
export(implicativeGraph)
export(similarityTree)
export(toolbarGraph)
export(toolbarItem)
useDynLib(rchic)
